.admin{
    position: relative;
    top: 250px; /* Adjust the value as needed based on the banner's height */
    left: 0;
    width: 100%;
    z-index: 997; 
    display: flex;
    flex-direction: column;
}
.mmm{
    margin-bottom: 0%;

}